@charset "utf-8";
/* Info PJ 의 subpage 공통 css - sub.css */

/* 2-1. press logo  */
.prlg img{
    height: 30px;

}

.work img{
    width: 500px;

}


#header {
    display: flex;
    height: 100vh;

}


.ul {
    list-style-type: none;

}

.ol {
    list-style-type: lower-greek;
}